/* You can add global styles to this file, and also import other style files */
body{ text-align: center;
        padding: 20px;}
input{margin: 10px; border-radius: 5px;}
button{border-radius: 8px;
        background: lightgreen;}
h3{color:forestgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
a{color:black;}